$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$primary-color: #005a92; // A calming blue
$secondary-color: #f2f2f2; // Light grey for backgrounds
$accent-color: #4caf50; // Green for buttons and accents
$text-color: #333; // Dark grey for text
$footer-background: #003f5c; // Darker shade of blue for the footer
$white: #ffffff;
$service-accent:#009688;
$service-background-color:#00796b;