$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$primary-color: #005a92; 
$secondary-color: #f2f2f2; 
$accent-color: #4caf50; 
$text-color: #333; 
$footer-background: #003f5c; 
$white: #ffffff;
$service-accent:#009688;
$service-background-color:#00796b;