.footer-container {
  background-color: $footer-background;
  color: lighten($text-color, 50%);
  padding: 2rem 0; 
  text-align: center; 
  margin-top: auto;
  p {
    font-size: 1rem; 
    margin-bottom: 1rem; 
  }

  a {
    color: $white; 
    margin: 0 10px; 
    transition: color 0.3s; 

    &:hover {
      color: $accent-color; 
    }

    i {
      font-size: 2rem; 
      vertical-align: middle; 
    }
  }
}
