.contact-form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: $accent-color;
    text-align: center; 
  }
  p {
    font-size: 1.1rem; 
    max-width: 800px; 
    margin: 0 auto; 
    line-height: 1.8; 
    text-align: center; 
  }
  .input-group {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    input[type="text"],
    input[type="email"],
    input[type="date"],
    textarea {
      box-sizing: border-box;
      width: 100%;
      margin: auto;
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 0.25rem;
    }
    .submit-button {
      background-color: #0044cc;
      color: white;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 0.25rem;
      cursor: pointer;
      &:hover {
        background-color: #003399;
      }
    }
  }
  .checkbox-group {
    display: flex;
    align-items: center;
    input[type="checkbox"] {
      margin-right: 0.5rem;
    }
    label {
      margin-bottom: 0;
    }
  }
}
/* Success Message Modal Style */
#formSuccessMessage {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 60px;
  overflow: auto;
  background-color: $accent-color;
}

.alert {
  background-color: $accent-color;
  color: $secondary-color;
  padding: 20px;
  margin: 15% auto;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  width: 50%;
  text-align: center;
}
@media (max-width: 768px) {
  .contact-form-container {
    width: 90%; 
    padding: 0 5%; 
  }
}
