header {
  background-color: $primary-color;
  color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;

  .header-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    img {
      max-height: 50px;
    }
    p {
      color: $white;
      margin-left: 10px;
      font-size: 1.8rem;
      font-weight: bold;
      &:hover,
      &:focus {
        color: $accent-color;
        transition: color 0.3s;
      }
      @media (max-width: 768px) {
        font-size: 1rem;
      }
    }
  }

  .burger {
    display: none;
    cursor: pointer;
    z-index: 9999; // High z-index to ensure visibility
    @media (max-width: 768px) {
      display: block;
      position: relative;
      width: 30px; 
      height: 25px; 
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      span {
        display: block;
        width: 100%; // Full width of the parent .burger
        height: 3px;
        background-color: $white;
        margin: 5px auto; 
        transition: all 0.3s ease;
        &:nth-child(1) {
          transform-origin: top left; // Anchor transformation to top left
        }
        &:nth-child(3) {
          transform-origin: bottom left; // Anchor transformation to bottom left
        }
      }
      &.open span:nth-child(1) {
        transform: rotate(45deg) translate(-2px, 0px); // Adjust transformation
      }
      &.open span:nth-child(2) {
        opacity: 0;
      }
      &.open span:nth-child(3) {
        transform: rotate(-45deg) translate(-2px, 2px); // Adjust transformation
      }
    }
  }

  nav {
    ul {
      display: flex;
      list-style: none;
      li {
        margin: 0 1rem;
        a {
          color: $white;
          text-decoration: none;
          &:hover {
            color: $accent-color;
          }
        }
      }
    }
    @media (max-width: 768px) {
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 250px;
      background-color: $primary-color;
      flex-direction: column;
      justify-content: flex-start;
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;

      ul {
        flex-direction: column;
        margin-top: 4rem;
        li {
          margin: 1rem 0;
        }
      }
    }
  }
}

// JS Toggle
.active {
  transform: translateX(0);
}
.burger.open .bar:nth-child(1),
.burger.open .bar:nth-child(3) {
  position: absolute;
  width: 30px; 
}

.burger.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.burger.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.burger.open .bar:nth-child(2) {
  opacity: 0;
}
